.envrc
venv/*
settings.json
docs/Engineering_Coding_Test.pdf
*.log
*.pyc
google_sitemap.json
*/sqlite.db
mr_crawly/events.py
*.rdb
*.db
tests/data/*
resources/scripts/graveyard/*
data/test.db
tests/data/*
