.envrc
venv/*
settings.json
docs/Engineering_Coding_Test.pdf
*.log
*.pyc
google_sitemap.json
simple_crawler/events.py
data/sqlite.db
unused_code/recursive_sitemaps.py
unused_code/events_db.py
*/sqlite.db
*.rdb
*.db
tests/data/*
resources/scripts/graveyard/*
